/********** Base styles **********/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  margin-bottom: 15px;
}
header {
  font-size: 28px;
  text-align: center;
  margin: 20px auto 50px;
}
.section {
  position: relative;
  background-color: white;
}
.content {
  margin-top: 35px;
  padding: 0px 10px;
  line-height: 140%;
  font-size: 16px;
}
.title {
  position: absolute;
  top:10px;
  right:10px;
  background-color: green;
  width: 35%;
  padding: 2px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}
#title1 {
  background-color: #ff9696;
  color: black;
}
#title2 {
  background-color: #de3423;
}
#title3 {
  background-color: #f9dd81;
  color: black;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
.box {
  background-color: #AAAAAA;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 10px;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .large {
    float: left;
    width: 33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .medium {
    float: left;
    width: 50%;
  }
  .med-full {
    float: left;
    width: 100%;
  }
}
/********** Small devices only **********/
@media (max-width: 767px) {
  .small {
    float: left;
    width: 100%;
  }
}